@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Work+Sans&display=swap');

$font-display: "Roboto" , sans-serif;
$font-body: "Roboto Mono" , cursive;
$font-field: "Work Sans" , sans-serif;

$color-primary: #1f568e;
$color-secondary: #27bbfade;
$color-white: #fafafa;
$color-black: #000000;
$color-nav: #b5b2b2;
$color-body: #ece9e9;

* {
    margin: 0;
    padding: 0;
}