@use"./_base.scss" as *;

body {
    background-color: $color-body;
}

button {
    background-color: $color-secondary;
    text-align: center;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 5px;
}

.Nav {
    border: 1px solid lightgrey;
    background-color: $color-nav;
    font-family: $font-display;
    
    .Nav__text {
        font-size: 18px;
        &--me {
            font-weight: bold;
        }
    }
    .Nav__tag {

        text-decoration: none;
        font-size: 18px;
        color: $color-primary;
        
    }
}

.main__container {
    .hero__container {
        .hero__text {
            font-family: $font-body;
            font-size: 12px;
            &--title {
                font-family: $font-field;
                font-size: 24px;
            }
            &--body {
                font-size: 36px;
            }
        }
    }
}

.skills__container {
    .skills__text {
        font-family: $font-body;
        font-size: 12px;
        &--title {
            font-family: $font-field;
            font-size: 24px;
        }
    }
}