@use"./_base.scss" as *;

body {
    background-color: $color-body;
}

button {
    background-color: $color-secondary;
    text-align: center;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 5px;
}

.Nav {
    border: 1px solid lightgrey;
    background-color: $color-nav;
    font-family: $font-display;
    
    .Nav__text {
        font-size: 18px;
        &--me {
            font-weight: bold;
        }
    }
    .Nav__tag {
        text-decoration: none;
        font-size: 18px;
        color: $color-primary;
    }
}

.main__container {
    .hero__container {
        .hero__text {
            font-family: $font-body;
            font-size: 12px;
            &--title {
                font-family: $font-field;
                font-size: 24px;
            }
            &--body {
                font-size: 36px;
            }
        }
    }
}

.skills__container {
    .skills__text {
        font-family: $font-body;
        font-size: 12px;
        &--title {
            font-family: $font-field;
            font-size: 24px;
        }
    }
}

.project__container {
    .project__text--header {
        font-family: $font-field;
        font-size: 24px;
    }
    .card__text {
        &--language {
            font-family: $font-body;
            font-size: 14px;
            color: $color-primary;
        }
        &--title {
            font-family: $font-field;
            font-size: 32px;
        }
        &--blurb {
            font-family: $font-body;
            font-size: 14px;
        }
    }
    .card__imagecontainer {
        background-color: $color-primary;
    }
    .card__link {
        font-family: $font-display;
        text-decoration: none;
        font-size: 18px;
        color: $color-primary;
    }
}

.about__header {
    .about__text {
        &--header {
            font-family: $font-field;
            font-size: 32px;
        }
        &--body {
            font-family: $font-body;
            font-size: 14px;
        }
    }
}

.foot {
    border: 1px solid lightgrey;
    background-color: $color-nav;
        .foot__text {
            font-family: $font-display;
            &--copyright {
                font-size: 12px;
            }
        }
}

@media screen and (max-width: 770px) {
    .Nav {
        .Nav__text {
            font-size: 14px;
        }
        .Nav__tag {
            font-size: 14px;
        }
    }
    .project__container {
        .project__text--header {
            font-size: 20px;
        }
        .card__text {
            &--language {
                font-size: 10px;
            }
            &--title {
                font-size: 16px;
            }
            &--blurb {
                font-size: 10px;
            }
        }
        .card__imagecontainer {
            background-color: $color-primary;
        }
        .card__link {
            font-size: 14px;
        }
    }
    .about__header {
        .about__text {
            &--header {
                font-size: 18px;
            }
            &--body {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .main__container {
        .hero__container {
            .hero__text {
                font-size: 16px;
                &--button {
                    font-size: 10px;
                }
            }
            .hero__subcontainer {
                .hero__text {
                    &--title {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}