.Nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    .Nav__text {
        &--me {
            padding-right: 15rem;
        }
    }
    .Nav__sub {
        display: flex;
        width: 40rem;
        justify-content: space-between;
    }
    .Nav__button {
        width: 12rem;
        margin-left: 5rem;
    }

}
.main__container {
    display: flex;
    justify-content: space-between;
    padding: 5rem 12rem;
        .hero__img {
            &--selfie {
            height: 50vh;
            width: 35vh;
        }
    }
}