.Nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    .Nav__text {
        &--me {
            padding-right: 15rem;
        }
    }
    .Nav__sub {
        display: flex;
        width: 40rem;
        justify-content: space-between;
    }
    .Nav__button {
        width: 12rem;
        margin-left: 5rem;
    }
}

.main__container {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 12rem;
        .hero__img {
            &--selfie {
            height: 51vh;
            width: 35vh;
        }
    }
    .hero__container{
        display: grid;
        grid-template-columns: 20% 30% 50%;
        grid-template-rows: auto;
        height: 50vh;
        margin-right: 3rem;
        grid-template-areas: 
        "title title title"
        "body body body"
        "body body body"
        "body body body"
        ". . ."
        ". . button"
    }
    .hero__subcontainer {
        grid-area: title;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .hero__text--body {
        grid-area: body;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .bolded{
            padding-left: 12px;
        }
    }
    .hero__button {
        grid-area: button;
        display: flex;
        margin: 0px 50px;
        align-self: center;
        justify-content: space-evenly;
        align-items: center;
    }
}

.skills__container {
    display: flex;
    width: 100%;
    height: 15rem;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0rem;
    .skills__text {
        padding: 1rem;
    }
        &--img {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
            padding: 2rem 0rem;
        }
}

.project__container {
    width: 100%;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .project__text {
        &--header {
        padding: 3rem 0rem;
        }
    }
    .project__gridcontainer {
        display: grid;
        padding-left: 6rem;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 45% 10% 45%;
        height: auto;
        grid-template-areas: 
        "one two three"
        ". . ."
        "four five six"
    }
    .card__container {
        width: 50vh;
        &--1 {
            grid-area: one;
        }
        &--2 {
            grid-area: two;
        }
        &--3 {
            grid-area: three;
        }
        &--4 {
            grid-area: four;
        }
        &--5 {
            grid-area: five;
        }
        &--6 {
            grid-area: six;
        }
        .card__imagecontainer {
            display: flex;
            height: 40vh;
            width: 50vh;
            justify-content: center;
            align-items: end;
            &--placeholder {
            height: 30vh;
            width: 45vh;
            }
        }
        .card__text {
            display: flex;
            flex-direction: column;
            width: 50vh;
            height: 25vh;
            justify-content: space-between;
            &--language {
                padding-top: 2rem;
            }
            &--blurb {
                padding-bottom: 2rem;
            }
        }
        .card__link {
            display: flex;
            width: 30vh;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}

.about__container {
    display: flex;
    width: 100%;
    height: 45vh;
    justify-content: space-between;
    padding-bottom: 5rem;

    .about__header{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        .about__text {
            width: 75%;
    }
    }
    .about__image {
        height: 35vh;
        padding-right: 6rem;
    }
}

.foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .foot__text {
        &--email {
            padding-left: 3rem;
        }
    }
    .foot__container {
        padding-right: 3rem;
    }
}

@media screen and (min-width: 1025px) {
    body {
        width: 100%;
    }
    .about__container {
        .about__image {
            height: 35vh;
            padding-right: 6rem;
        }
        .hero__img {
            &--selfie {
            display: none;
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    body {
        width: 100%;
        .main__container {
            .hero__img {
                &--selfie {
                    display: none;
                }
            }
        }
    }
    .project__container {
        .project__gridcontainer {
            padding-left: 1rem;
        }
    }
    .about__container {
        .about__image {
            display: none;
        }
        .hero__img {
            &--selfie {
            height: 35vh;
            padding-right: 6rem;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .Nav {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        .Nav__text {
            &--me {
                padding-right: 0rem;
            }
        }
        .Nav__sub {
            display: flex;
            width: 40rem;
            justify-content: space-between;
        }
        .Nav__button {
            width: 12rem;
            margin-left: 0rem;
        }
    }
    .main__container {
        padding: 5rem 5rem;
    }
    .skills__container {
        padding: 1rem 0rem;
    }
    .project__container {
        height: 145vh;
        padding-bottom: 4rem;
        .project__gridcontainer {
            padding-left: 0rem;
                .card__container {
                    width: 40vh;
                    .card__imagecontainer {
                        height: 30vh;
                        width: 41vh;
                            &--placeholder {
                                height: 25vh;
                                width: 35vh;
                            }
                        }
                    }
                    .card__text {
                        width: 40vh;
                        height: 25vh;
                        &--language {
                            padding-top: 1rem;
                        }
                        &--blurb {
                            padding-bottom: 1rem;
                        }
                    }
                }
    }
    .about__container {
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .Nav {
        .Nav__sub {
            width: 20rem;
        }
        .Nav__button {
            width: 8rem;
        }
    }
    .main__container {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
            .hero__img {
                &--selfie {
                height: 51vh;
                width: 35vh;
            }
        }
        .hero__container{
            display: grid;
            height: 30vh;
            margin-right: 0rem;
            grid-template-areas: 
            "title title title"
            "body body body"
            "body body body"
            "button button button"
        }
    }
    .skills__container {
        height: 26rem;
            &--img {
                flex-wrap: wrap;
                flex-direction: column;
            }
    }
    .project__container {
        height: auto;
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .project__text {
            &--header {
            padding: 2rem 0rem;
            }
        }
        .project__gridcontainer {
            display: grid;
            height: auto;
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-items: center;
            grid-template-areas: 
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
        }
        .card__container {
            width: 50vh;
            padding: 1rem 0rem;
            &--1 {
                grid-area: one;
            }
            &--2 {
                grid-area: two;
            }
            &--3 {
                grid-area: three;
            }
            &--4 {
                grid-area: four;
            }
            &--5 {
                grid-area: five;
            }
            &--6 {
                grid-area: six;
            }
        }
    }
    .about__container {
        height: 70vh;
        align-items: center;
        .hero__img{
            &--selfie {
                padding-right: 2rem;
            }
        }
        .about__header {
            .about__text {
                padding: 1rem 0rem;
            }
        }
    }
    .foot {
        height: 8rem;
        flex-direction: column;
        padding: 0rem 0rem;
        .foot__text {
            &--email {
                padding-left: 0rem;
            }
        }
    }
}