@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ece9e9;
}

button {
  background-color: #27bbfad2;
  text-align: center;
  box-shadow: 2px 2px 2px 2px lightgray;
  border-radius: 5px;
}

.Nav {
  border: 1px solid lightgrey;
  background-color: #b5b2b2;
  font-family: "Roboto", sans-serif;
}
.Nav .Nav__text {
  font-size: 18px;
}
.Nav .Nav__text--me {
  font-weight: bold;
}
.Nav .Nav__tag {
  text-decoration: none;
  font-size: 18px;
  color: #1f568e;
}

main .hero {
  background-color: #fafafa;
  border: 2px solid black;
}

.Nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
.Nav .Nav__text--me {
  padding-right: 15rem;
}
.Nav .Nav__sub {
  display: flex;
  width: 40rem;
  justify-content: space-between;
}
.Nav .Nav__button {
  width: 12rem;
  margin-left: 5rem;
}

.main__container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 12rem;
}
.main__container .hero__img--selfie {
  height: 50vh;
  width: 35vh;
}