@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

.bolded {
  font-weight: bold;
}

body {
  background-color: #ece9e9;
}

button {
  background-color: #27bbfade;
  text-align: center;
  box-shadow: 2px 2px 2px 2px lightgray;
  border-radius: 5px;
}

.Nav {
  border: 1px solid lightgrey;
  background-color: #b5b2b2;
  font-family: "Roboto", sans-serif;
}
.Nav .Nav__text {
  font-size: 18px;
}
.Nav .Nav__text--me {
  font-weight: bold;
}
.Nav .Nav__tag {
  text-decoration: none;
  font-size: 18px;
  color: #1f568e;
}

.main__container .hero__container .hero__text {
  font-family: "Roboto Mono", cursive;
  font-size: 12px;
}
.main__container .hero__container .hero__text--title {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
}
.main__container .hero__container .hero__text--body {
  font-size: 36px;
}

.skills__container .skills__text {
  font-family: "Roboto Mono", cursive;
  font-size: 12px;
}
.skills__container .skills__text--title {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
}

.project__container .project__text--header {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
}
.project__container .card__text--language {
  font-family: "Roboto Mono", cursive;
  font-size: 14px;
  color: #1f568e;
}
.project__container .card__text--title {
  font-family: "Work Sans", sans-serif;
  font-size: 32px;
}
.project__container .card__text--blurb {
  font-family: "Roboto Mono", cursive;
  font-size: 14px;
}
.project__container .card__imagecontainer {
  background-color: #1f568e;
}
.project__container .card__link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #1f568e;
}

.about__header .about__text--header {
  font-family: "Work Sans", sans-serif;
  font-size: 32px;
}
.about__header .about__text--body {
  font-family: "Roboto Mono", cursive;
  font-size: 14px;
}

.Nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
.Nav .Nav__text--me {
  padding-right: 15rem;
}
.Nav .Nav__sub {
  display: flex;
  width: 40rem;
  justify-content: space-between;
}
.Nav .Nav__button {
  width: 12rem;
  margin-left: 5rem;
}

.main__container {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 12rem;
}
.main__container .hero__img--selfie {
  height: 51vh;
  width: 35vh;
}
.main__container .hero__container {
  display: grid;
  grid-template-columns: 20% 30% 50%;
  grid-template-rows: auto;
  height: 50vh;
  margin-right: 3rem;
  grid-template-areas: "title title title" "body body body" "body body body" "body body body" ". . ." ". . button";
}
.main__container .hero__subcontainer {
  grid-area: title;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.main__container .hero__text--body {
  grid-area: body;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main__container .hero__text--body .bolded {
  padding-left: 12px;
}
.main__container .hero__button {
  grid-area: button;
  display: flex;
  margin: 0px 50px;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
}

.skills__container {
  display: flex;
  width: 100%;
  height: 15rem;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0rem;
}
.skills__container .skills__text {
  padding: 1rem;
}
.skills__container .skills__container--img {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 2rem 0rem;
}

.project__container {
  width: 100%;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__container .project__text--header {
  padding: 3rem 0rem;
}
.project__container .project__gridcontainer {
  display: grid;
  padding-left: 3rem;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 45% 10% 45%;
  height: auto;
  grid-template-areas: "one two three" ". . ." "four five six";
}
.project__container .card__container {
  width: 50vh;
}
.project__container .card__container--1 {
  grid-area: one;
}
.project__container .card__container--2 {
  grid-area: two;
}
.project__container .card__container--3 {
  grid-area: three;
}
.project__container .card__container--4 {
  grid-area: four;
}
.project__container .card__container--5 {
  grid-area: five;
}
.project__container .card__container--6 {
  grid-area: six;
}
.project__container .card__container .card__imagecontainer {
  display: flex;
  height: 40vh;
  width: 50vh;
  justify-content: center;
  align-items: end;
}
.project__container .card__container .card__imagecontainer--placeholder {
  height: 30vh;
  width: 45vh;
}
.project__container .card__container .card__text {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 25vh;
  justify-content: space-between;
}
.project__container .card__container .card__text--language {
  padding-top: 2rem;
}
.project__container .card__container .card__text--blurb {
  padding-bottom: 2rem;
}
.project__container .card__container .card__link {
  display: flex;
  width: 30vh;
  align-items: center;
  justify-content: space-evenly;
}

.about__container {
  display: flex;
  width: 100%;
  height: 45vh;
  justify-content: space-between;
}
.about__container .about__header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.about__container .about__header .about__text {
  width: 75%;
}
.about__container .about__image {
  height: 35vh;
  padding-right: 3rem;
}

.Nav__tag:hover {
  color: #27bbfade;
}

.skills__img:hover {
  opacity: 50%;
}

.card__link:hover {
  color: #27bbfade;
}